.container {
    max-width: 1200px;
    padding: 1em;
    margin: auto;
}

.preheaderContainer {
    margin-top: 2em;
}

.preheader {
    padding: 10px;
    color: #8e8e8e;
    border: 1px solid #8e8e8e;
    border-radius: 8px;
}

.header {
    font-size: 72px;
    text-transform: uppercase;
}

.headerGradient {
    background: -webkit-linear-gradient(45deg, var(--color-purple), #25a0a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider {

}

.slide {
    width: 600px;
    cursor: pointer;
    border-radius: 8px;
    padding: 1em;
    transform: translateY(0em);
    transition: all 0.3s ease-in-out;
}

.slide:hover {
    transform: translateY(-1em);
}

.slide img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.slideTitle {
    margin-top: 0.5em;
    color: #8e8e8e;
}

.slideDescriptionBlock {
    display: flex;
}

.slideDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.slideBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideBtnRotateContainer {
    transform: scaleX(-1);
}

.slideBtn {
    border-radius: 100px;
    font-size: 25px;
    box-shadow: 2px 2px 2px #0006;
    border: 1px solid var(--color-purple);
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
}

.slide:hover .slideBtn {
    background: var(--color-purple);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerArrows {
    gap: 1em;
}
